[2020-02-11 08:59] licaon-kter commented on #456
Ok more info, deleting that image (it was really long as that preview shows) will make the PDFs behave better..but...after some up/down scrolling they'll get corrupted again.\

So it appears that the PDF preview is regenerated (and not cached) every time it scrolls into view, that's fine besides the odd flicker, yet the issue is that NOW the preview size is _limited to the closest image preview in

[2020-02-11 10:30] licaon-kter opened #457 "Media browser shows only images"
...and misses APKs, ZIPs and PDFs at least.

2.3.5 (2020-02-10) Xiaomi MIUI11 Android 10

[2020-02-11 10:33] licaon-kter commented on #456
Testing more, sharing a tar.gz file the bubble cloned the GIF shared above it, scroll a bit more and it disappeared entirely, now it says only `2MB 3mis ago lock checkmarks`.

Shared a ZIP next, preview was an image from above in the chat, he disappeared too.

[2020-02-11 19:24] #456 closed

[2020-02-11 19:26] kriztan commented on #457
That's the expected behavior and not a bug. But i'll rework that

[2020-02-12 06:42] licaon-kter commented on #456
Thanks

[2020-02-12 06:45] licaon-kter commented on #457
Thanks, not sure why that was removed as it makes it a pain to find all the share files (albeit faceless icons don't help either for ZIPs and APKs) but you can at least narrow your search.

[2020-02-12 18:19] shubham2110 opened #458 "Full Vcard support for all contacts"
Hi Team,

I have been using LDAP VCARD on server side.
Conversations currently only shows 1.NickName, 2. Avatar,  3. Jabber ID in the contact details.
I want full vard details to be shown on the contact details activity.

In Contact class,  we have a attribute 'keys'  which is  being used for storing pgp keys.
What if we also store whole 'vcard-temp' result so that we can show vcard details too on

[2020-02-12 19:37] #457 closed

[2020-02-17 10:45] licaon-kter opened #461 "Login speed really slow"
#### General information

* **Version:** 2.3.5 beta (2020-02-11)
* **Device:** Xiaomi MIUI11 Android 10
* **Server:** self-hosted ejabberd HEAD on IPv4 only

#### Steps to reproduce

1. add account (or disconnect)
2. login

#### Expected result

Connect in 2 seconds (just like Conversations)

#### Actual result

It takes 30 seconds to connect

I'd blame all the happy eye balls and IPv6 changes int

[2020-02-17 10:48] kriztan commented on #461
@genofire could this be improved?

[2020-02-17 11:36] genofire commented on #461
Do you have more then 9 Addresses announce to your self-hosted jabber server?

[2020-02-17 11:41] licaon-kter commented on #461
@genofire what are "addresses announced"? SRVs?

[2020-02-17 11:50] genofire commented on #461
if you use SRV, yes: `_xmpp-client._tcp.` and `_xmpps-client._tcp.` and then the IP-Addresses (and ports)?
This should be in the logs, before happy eyeball make a decision.

[2020-02-17 12:58] licaon-kter commented on #461
[code]
@genofire What exactly should I grep the logcat for? There's a big pause at start without any output from the app.

[2020-02-17 13:16] Neustradamus opened #462 "A correct support of OMEMO: 12 byte for initilization vector (IV)"
There is a problem in the code:
- https://github.com/xsf/xeps/pull/894

[2020-02-17 13:27] kriztan commented on #462
Everything is prepared with: https://github.com/kriztan/Pix-Art-Messenger/blob/435989fc60c1f94c8a2d3175b8f77cc2ddd3a2f3/src/main/java/de/pixart/messenger/Config.java#L113

[2020-02-17 13:27] #462 closed

[2020-02-17 13:31] Neustradamus commented on #462
@kriztan: Yes I know, please change it to true like Conversations project has been done today.

[2020-02-17 20:57] kriztan commented on #454
fixed via e2d89da5d3fe0169f1b3a53147cdc8cdb6efaf6c and 898218e7402bdb22d0a439dea376665a28729a49

[2020-02-17 20:57] #454 closed

[2020-02-17 20:58] kriztan commented on #458
It's not on my roadmap to show full VCARD details.

[2020-02-17 20:58] #458 closed

[2020-02-17 20:59] kriztan commented on #458
By the way your usecase applies to a very few usergroup.

[2020-02-18 06:48] genofire commented on #461
If you grep for `Resolver` it shows up, that you are connected after 27ms.

So i do not believe it is a failure by the new happy eyeball resolving.

[code]

This takes 23s - just the DNS-Resolving, before happy eyeball happens ... so we really need a Resolve-Caching again, better then before ...

[2020-02-18 07:06] licaon-kter commented on #461
I'll see about listing my DNS setup for reference.

[2020-02-18 07:17] genofire commented on #461
@licaon-kter
Do you like to rename it to **slow dns resolving on connecting** or something like that?

@kriztan
Is this release blocking? (do not like to make it this week - to implement a **resolver caching** again)

[2020-02-18 07:32] Echolon commented on #451
FYI everyone please remind #427

[2020-02-18 08:13] Echolon commented on #191
@zz-ha-dum In group chats MUCs you can send private messages only readable for the selected user. Hold their avatar and select `Send private mesdage`

[2020-02-19 19:36] Echolon opened #465 "Anti-Doze: Advise users how to not `optimize` Pix-Art"
Vendors are making the live hard for free software and developers in general. To counter their battery anti-features and increase the chance of making push possible again this thead should evaluate how to do it best.

In general the API from here may help us a lot to provide decent information for the user: https://dontkillmyapp.com/apidoc

Things which should be considered in my opinion:

- We ca

[2020-02-19 20:41] genofire commented on #461
Should be solved by: f2b8478aa28332a0a4bf43afbf57a05e0155bf00
in master: #464 dec454ab82d85f624d97b498b91bb264bbbb9ca5

Do you like to test the new beta?
[2.3.5 beta (2020-02-19)](https://github.com/kriztan/Pix-Art-Messenger/releases/tag/2.3.5.11)

[2020-02-19 20:43] licaon-kter commented on #461
Will test

[2020-02-19 23:09] Neustradamus commented on #462
@kriztan: Any news? Can you reopen it, it is not solved.

[2020-02-19 23:18] Echolon commented on #462
It is already staged or whats the matter?

Please wait till it went to Master.

[2020-02-20 11:03] Fisi1234 opened #466 "Issues with Push Notifications"
* **Version:** 2.3.4
* **Device:** several Android devices
* **Android Version:** 10

Moin 👋
We have problems with the push notifications, respectively with the messages.
First, push notifications do not come at all for some chat participants.
Secondly, some chat participants receive the actual messages very late (up to 1.5 weeks later)
We use a root server and ejabberd.
What could be the reason f

[2020-02-20 11:20] Echolon commented on #466
@Fisi1234 https://dontkillmyapp.com/

I'm gonna translate your request to gain most feedback.

[2020-02-20 11:37] Fisi1234 commented on #466
Moin
Thank you for your translation.
We use a Root Server.
Intel Xeon Gold 6140/6230 (4 Cores)
16 GB Ram DDR4
60 GB SSD / 480 GB SAS
Networkcard 1GBit/s
OS is Linux
Thanks in advance
Fisi1234

[2020-02-20 11:51] Echolon commented on #466
Can you check this aswell: https://compliance.conversations.im/

Have you read the other link I posted?

[2020-02-20 13:27] Fisi1234 commented on #466
Moin,
after adjusting the battery-options it works only sometimes. If I sent 3 messages to my colleague he only recives to of them.

[2020-02-20 13:44] Echolon commented on #466
Is it really about receiveing or push notification?

I mean is are there messages lost?

20 feb. 2020 2:27:39 PM Fisi1234 <notifications@github.com>:

[2020-02-21 17:03] kriztan commented on #466
Did you enable the push module on your server?
What are the debug logs saying? Are your clients able to connect to push.pix-art.de?

[2020-02-22 22:02] Echolon commented on #427
@ForkedLightning Coy.im seem to support OTR: https://coy.im/faq/

[2020-02-22 22:30] Echolon opened #467 "Keep voice messages / audios which are already started recording"
I frequently loose one or two minute long audios because I just accidentially click on the screen. So, being able to continue the already recorded audio would be awesome!

One possible setup is described here from our beloved WhatsApp: https://faq.whatsapp.com/en/android/23684991/?category=5245251 and you can see it here for one second: https://youtu.be/CSHrAcEYqpo?t=412 (It's the lock symbol whic

[2020-02-25 10:18] licaon-kter commented on #217
@kriztan Please Tag unstable as X.X.X.X and stable as X.X.X as discussed.

Ref: https://gitlab.com/fdroid/fdroiddata/-/blob/9e86ad103dede8a15ee6b2777c2c78b31d17be34/metadata/de.pixart.messenger.yml

Because: https://github.com/kriztan/Pix-Art-Messenger/releases/tag/2.3.5

[2020-02-25 10:20] kriztan commented on #217
sorry, my mistake.

[2020-03-11 22:19] Echolon opened #468 "Project: Implement own Push server"
Hello Chris,

hereby I wanted to create a room for discussing and proceeding on the suggested push server for Pix-Art.

I guess first step is some evaluation: https://ownpush.com/
However the link does not work at the moment? Does someone knows what happended?

Another interesting project: https://microg.org/

Typically related: **Issues with Push Notifications** #466

[2020-03-11 22:22] Echolon commented on #427
Related issue:

**Advanced Encryption --> Easy encryption Enhancement OMEMO/Encryption UI** #227

[2020-03-16 23:23] Echolon opened #469 "Project: Documentation and improve On-boarding to Development"
Hi,

I have a long-term project suggestion. For the development of Pix-Art Messenger the documentation of code as well as the on-boarding to commit and develop on the project should be improved.

I have no special suggestions, but I think an evaluation process can show problems and ideas to enhance. Everyone can be involved. It think this is a project which insures long-term sustainability. So far

[2020-03-17 22:16] Echolon commented on #469
Today in the chat room first suggestion were made:

- In general attendees liked the idea
- Documentation on the most imporatant classes, functions, libraries

-- Also suggestion to list some overview documentation @kriztan
-- Improve code documentation itself
-- Where to start in the code? manifest & startui.java

- Some introductional support for Java programming ([Link 1](https://www.youtube.co

[2020-03-18 15:47] TheOneric commented on #468
Hi,

while at least I am fine without a push server I can definitely see why this might be a great feature for others.
I only glanced over own-push and haven't read the full details yet. While I don't want to dissuade you from this idea, I think there are some important points to be considered.

1. While OwnPush or a similar Push-Server would certainly be a remarkable improvement over Google's pus

[2020-03-18 16:26] Echolon commented on #468
Thank you for your great comment! Yes we should consider all of this. Yes, if there is no project avialable the idea is on hold I guess 😕

18 mar. 2020 4:48:16 PM TheOneric <notifications@github.com>:

[2020-03-18 16:48] TheOneric commented on #469
Something this project is already handling very good imho are the issues. The tags already help to categorize them, "Help wanted" is a good indicator and the same goes for assigned priorities. :)
One possible way to build upon this would be a tag for "Good first issue" (or similar) used for low-priority issues that only affected a limited part of the code (or no code at all; eg finishing an uncomp

[2020-03-19 20:25] Echolon commented on #427
New OMEMO version is upcoming as well: https://xmpp.org/extensions/xep-0384.html

[2020-03-26 01:56] Neustradamus opened #470 "XEP-0384: OMEMO Encryption 0.4.0"
Can you update the XEP-0384: OMEMO Encryption support to 0.4.0?

- http://www.aptest.com/standards/htmldiff/htmldiff.pl?oldfile=https://xmpp.org/extensions/attic/xep-0384-0.3.0.html&newfile=https://xmpp.org/extensions/attic/xep-0384-0.4.0.html

PS : Must be done before a removal of OTR ;)

[2020-03-26 07:58] Echolon commented on #470
I think this will be implemented anyway, once Conversations did so.

#427

[2020-03-26 21:43] errhammr commented on #469
I'm working on some JavaDoc documentation. I'm new to the code of Pix-Art Messenger but I will try my best to understand what's going on and document what I find out.
Have a look at [my work in progress](https://github.com/errhammr/Pix-Art-Messenger/pull/1/files) and feel free to give feedback. Once I make some progress I will start creating pull requests to the main repo.

[2020-03-26 23:24] Echolon commented on #469
@errhammr Wow, I didn't expected to get going that quickly! Cool - I think I speak for everyone that this is highly appreciated!

If you have any issues or problem please state them! Those are likely the issues we want to improve on.

Looking forward to you branch commits!

[2020-03-28 04:09] shubham2110 commented on #466
Hello Team,
I am facing similar issue. During the time app is offline or minimized, if someone sends a message, it will come in push notification as soon as app is online. But if I click on notification messages to read them, messages are not found in Chat window.
Looks like messages are gone completely.

Some times , when I click on "mark as read" , then messages will be present in chat windows t

[2020-03-28 06:30] kriztan commented on #466
As I've mentioned above your message it doesn't help to tell me that anything isn't working for you. So I can't help you. I need further information like logs from your device and if possible from your server. It's useful to know what device you are using and which android version is running on.

[2020-03-29 22:39] licaon-kter commented on #461
Looks okaish now with latest beta, aka as fast/slow as Conversations.

[2020-03-29 22:39] #461 closed

[2020-04-06 17:16] persmule opened #471 "OTR is invisible even if enabled in expert settings."
#### General information

* **Version:** 2.3.5 from f-droid, upgrade from 2.3.4
* **Device:** Samsung Galaxy S5 LTE-A
* **Android Version:** LineageOS 16.1

#### Steps to reproduce

1. Select "Enable OTR encryption" in expert settings
2. Inspect "Secure conversation" (lock icon) in any single conversation

#### Expected result

Options are "Unencrypted, OTR, OMEMO, OpenPGP", as in version 2.3.4.

[2020-04-06 17:56] kriztan commented on #471
Thanks, you're right. I'll fix this. But keep in mind that I'll drop OTR in middle of the year.

[2020-04-06 18:43] Echolon commented on #471
@persmule #427

[2020-04-07 17:07] tmolitor-stud-tu commented on #468
Why implement another push service instead of google's FCM?
Most devices have google push preinstalled (even if it is just the microg implementation of FCM).

So supporting FCM reaches most of the users while supporting some other push service will *not* reach the majority of users...

[2020-04-07 21:02] licaon-kter commented on #468
@Echolon what is this about?

Pix-Art has a push server, right?

You want to replace that or FCM or?

That issue linked there sounds unrelated.

[2020-04-07 21:07] licaon-kter commented on #465
This is already implemented...users get prompted after install, right? Or at least most known broken OEMs

Foreground service is ON, right?

You want all the advice on that site implementet in dialogues per each OEM?

[2020-04-07 22:36] tmolitor-stud-tu commented on #466
To me this sounds like lost messages, not lost pushes.

Do you have the stream management module and the mam module installed and active on your server?
Pix-Art Messenger has a Server-Info in the Account Overview (can be triggered in the menu).

A screenshot or textual representation of this info would help a lot here.

[2020-04-07 22:37] tmolitor-stud-tu commented on #466
If you use multiple clients you will also need the message carbon module installed and active on the server.

[2020-04-09 20:31] ostasevych opened #473 "Criteria when searching public rooms"
Please, add criteria when searching across public rooms, eg:
- topic
- primary language(s)
- search for words in the title and description

This will simplify the process of searching for proper server.

[2020-04-09 20:36] ostasevych commented on #117
Pix-Art is fine, I think :)

[2020-04-09 20:39] ostasevych opened #474 "Add audio/video calls"
Please, consider adding audio/video calls to the messenger, if server supports (option in settings). This will make it more attractive for using and optimise using different channels of communication between users.

[2020-04-09 20:51] Kelvino9 commented on #117
@kriztan please close this issue as there is no serious means in changing the name. This issue was created over three years ago and it got nowhere.

[2020-04-09 22:28] Echolon commented on #117
@Kelvino9 @kriztan

I'd prefer to leave it open. At least one suggestion got a high ranking. And I personally think there could be overhaul help the popularity.

As there not much issues. I would leave it open please.

[2020-04-09 22:30] Echolon commented on #474
**WebRTC, Jingle, VoIP/ Videocalls** #188

[2020-04-09 22:30] #474 closed

[2020-04-10 01:20] TrickTrackNO opened #475 "omemo key ratchet to 'force' messages be unusuable AS history security"
I can set my client to autodelete messages. Perhaps others are not. Could the ratchet be used to this effect making aged thread messages unavailable to any party?

[2020-04-10 01:21] TrickTrackNO commented on #435
lossLESS compression is More Better

yay FLAC

[2020-04-10 10:18] Kelvino9 commented on #117
@Echolon, @kriztan mentioned many times in the Pix-Art chat room that he would no longer change the name of Pix-Art Messenger because of its popularity. So actually that decision has been made for some time. That's why I suggested to close this issue.

[2020-04-10 10:19] kriztan commented on #117
I've decided to close this now because I won't change the name.

[2020-04-10 10:19] #117 closed

[2020-04-10 10:47] Echolon commented on #475
Hi @TrickTrackNO,

I think you have a rather critical expectation on security. What you need is a server that does not store any messages. There is an option to clear chat history locally
 I think this purpose also out of the scope of PixArt which is made for "normal" users.

I think we should close this @kriztan

[2020-04-10 10:48] kriztan commented on #475
I think anything is written here: https://github.com/siacs/Conversations/issues/3671

[2020-04-10 10:48] #475 closed

[2020-04-22 22:42] bennypr0fane opened #476 "Message is delivered, but recipient does not get notification"
#### General information

* **Version:** 2.3.6
* **Device:** Samsung SM-G390F Xcover 4
* **Android Version:** Android 9

#### Steps to reproduce

1. Send message to device. Type of encryption/no encryption doesn't matter
2. Verify that message has been delivered (green check mark visible on sending device).
3. Check recipient device has internet connection.
4. Recipient device shows no notificatio

[2020-04-22 22:46] bennypr0fane commented on #476
The session actually includes sending of three messages:
1 unencrypted
2 encrypted with Omemo
3 encrypted with OpenPGP
Omemo keys have been exchanged/trusted prior to this session.
OpenPGP keys have not been exchanged/trusted prior to this session.
Green check mark was shown on sending device for all three mesages.
All three messages were present on receiving device after opening PAM messenger app

[2020-04-23 15:51] kriztan commented on #476
Are notifications enabled in Android or app and in the chat?

[2020-04-23 17:51] Echolon commented on #227
With respect to #427, may you directly combine the removal commit with this by June?

[2020-04-23 17:54] #468 closed

[2020-04-23 17:54] Echolon commented on #466
@Fisi1234 may you reply to the questions?

[2020-04-23 17:55] Echolon commented on #476
@bennypr0fane
please review this related issue (likely duplicate).

**Issues with Push Notifications** #466

Also related topic to prevent:

**Anti-Doze: Advise users how to not `optimize` Pix-Art** #465

[2020-04-23 23:49] bennypr0fane commented on #476
Yes, notifications are enabled.

I made sure battery optimisation is deactivated for PAM.

[2020-04-24 16:14] licaon-kter commented on #307
So this is cancelled?
https://github.com/kriztan/Pix-Art-Messenger/commit/598e61996583ded79ec795945c91ee4d89faca6f

[2020-04-24 17:09] kriztan commented on #307
I can't understand the problem... @licaon-kter

[2020-04-24 17:51] licaon-kter commented on #307
[code]

[2020-04-26 10:44] krequena opened #477 "Font size options"
Would it be feasible to add a bigger font option? Current "Large" option is not big enough for some vision-impaired people.

[2020-04-26 11:52] Echolon commented on #477
@krequena isn`t that a thing handled by android?

[2020-04-26 12:11] krequena commented on #477
Oh, maybe. I've not developed anything for Android.

I've seen the Large font size quite small-ish today in a Samsung J5 from 2017, and WhatsApp's was way bigger.

In my phone with Android's maximum font size and this is the result side-by-side:
![imagen](https://user-images.githubusercontent.com/1108316/80307130-85211180-87c7-11ea-97cd-3e8530519df9.png)

There's a slight difference, but it has no

[2020-04-26 12:11] #477 closed

[2020-04-29 09:50] kriztan commented on #307
I've retagged the version 2.3.7 --> should be fixed with https://github.com/kriztan/Pix-Art-Messenger/releases/tag/2.3.7

[2020-04-29 09:50] #307 closed

[2020-04-29 11:23] genofire commented on #188
Converstions has no Audio/Video call with version 2.8.0 ...

[2020-04-29 11:25] kriztan commented on #188
I'm still working on this. It will come soon.

[2020-04-30 22:06] kroerig opened #478 "Improve usability to switch between local/jabber.network for channel discovery"
#### General information

* **Version:** 2.3.7-playstore
* **Device:** Sony Xperia XZ1 compact
* **Android Version:**  Android 9 (stock)
* **Server name:** self hosted
* **Server software:** Openfire 5.4.1
* **Installed server modules:**
* **Conversations source:** PlayStore

#### Steps to reproduce

1. Login with an existing profile
2. Switch to groups

#### Expected result

Show all groups a use

[2020-04-30 22:14] kriztan commented on #478
I can't reproduce it. Please provide logs.

[2020-05-01 14:42] danielreuther commented on #188
Does "working on it" here mean that you are planning on adding value to the implementation and giving back? Or is it that you have been waiting for someone else to implement this while making it appear as if your work contributed in a meaningful way? Just asking 🙂

[2020-05-01 14:55] kriztan commented on #188
I've just pushed a beta version with this feature: https://github.com/kriztan/Pix-Art-Messenger/releases/tag/2.4.0.1

[2020-05-01 18:03] kroerig commented on #478
How can I export logs within the app?

[2020-05-01 21:31] kriztan commented on #478
It's described in the readme on my github repo.

[2020-05-02 00:02] Echolon commented on #478
@kroerig see below: https://github.com/kriztan/Pix-Art-Messenger

[2020-05-02 19:40] bennypr0fane commented on #476
UPDATE: I disabled all the battery saving mechanisms listed on dontkillmaypp.com for Samsung.
Notifications were still not shown.
I was able, however, to make it work with another fork of Conversations, [Conv6ations](https://dev.sum7.eu/sum7/Conversations). It's available from F-Droid and does not use FCM. Notifications are working with this one.
The most notable difference to Pix-Art is that Conv

[2020-05-02 21:14] bennypr0fane opened #480 "Add description to uploaded images/other files"
Currently, images and other files can only be sent in a separate message. Describing or commenting on the file has to be done in a previous/following, separate message.
It would be awesome to be able to include the text description directly under the sent file, in the same message.

[2020-05-04 18:57] allo- commented on #380
Maybe this could be implemented using XEP-0157?

[2020-05-07 07:43] kroerig commented on #478
I'm sorry. I can't provide logs. Using ADB on the phone is not possible because it's supervised.

[2020-05-11 06:43] kriztan commented on #478
I think you mean the `discover channels` feature. The device is only showing groups/channels you saved in your contact list. Please have a look into the app settings --> security & privacy --> Channel discovery method --> set what you want to discover.
I'll improve that feature and leaving this open until it's done.

[2020-05-11 06:58] kriztan commented on #476
I suspect that notifications have been disabled at some point in Android. Have a look into the notification settings in android.

[2020-05-12 19:29] kriztan opened #486 "[Notice] Migration to Coderberg started..."
### Notice
I'm doing a migration to Codeberg and copied the whole project.

**Please do not open new issues on Github and use Codeberg**

https://codeberg.org/kriztan/Pix-Art-Messenger

[2020-05-14 09:49] theerhan opened #487 "Feature Request - Add the ability to reply to messages via swipe"
Make it possible to reply to messages with a swipe as in Telegram

[2020-05-17 20:41] bennypr0fane commented on #476
So you're saying the permanent connection notification does not play a role?
What's the reason that Pix-Art displays one on certain devices but doesn't on others?

[2020-05-17 20:53] bennypr0fane opened #488 "Sending messages should be allowed in multi-user-chat with untrusted OMEMO keys"
#### General information

#### Steps to reproduce

1. Join MUC where some messages are encrypted with OMEMO, and untrusted device keys are present
2. Post message to MUC
3. Request to verify untrusted keys pops up. If there are any problems with key exchange at this point (keys cannot be verified for any reason), the "done" button is greyed out, posting messages becomes impossible for everyone in

[2020-05-17 21:09] bennypr0fane opened #489 "Add ability to "quote/cite" (comment on) images or any other files"
#### General information

In PAM 2.4, users can quote messages (using `>` or the "quote/cite" button) from further back in chat history to indicate that a message is a reaction not to the one directly above it, but to something written earlier on.
The same is not possible with images. If I want to comment on an image that was posted further up, I have to somehow make reference using words.
Especia

[2020-05-17 21:13] bennypr0fane commented on #188
I'm running the 2.4.0 release right now and it works perfectly for me with PAM and Blabber.im accounts on both sides. I tried a video call and A/V quality was amazing.

[2020-05-17 21:15] bennypr0fane commented on #188
Did you mean version 2.4? In any case, all the links in the chain have to support it for the call button to appear in the chat. Indeed I have it with some contacts and some not.

[2020-05-18 04:39] kriztan commented on #188
Integrated in version 2.4.0

[2020-05-18 04:39] #188 closed

[2020-05-18 10:11] kriztan commented on #476
@bennypr0fane No, I've written, that I think you have disbaled Android notifications for the app. Open android settings, navigate to apps and notifications, search for Pix-Art Messenger and have a look into the notification settings. It should list the notification settings for calls, messages, status information.

[2020-05-19 14:06] wipedlifepotato commented on #427
Дорогие разработчики, я использую ваше приложение для общения с моими друзьями. Вы хотите удалить OTR, или вроде уже это сделали. Как по мне это не правильно, просто потому-что должна быть универсальность, и многие люди досихпор используют OTR.

Мне прийдется использовать старую версию Pix-Art Messanger'а, если вы удалите его. Или же делать форк... Я использовал именно ваше приложение, из-за его у

[2020-05-19 14:27] Echolon commented on #427
@wipedlifepotato can you please explain why OMEMO, a much more modern, mobile and multi-device friendly encryption is not possible to use for you?

[2020-05-19 14:41] wipedlifepotato commented on #427
If its works dont touch.
I thought that OTR is multi-device friendly, and works good. No?
If it works dont touch. OTR i can use without add ppl to friend. Some
servers dont allow omemo...
I will continue?

[2020-05-19 14:42] wipedlifepotato commented on #427
Also some ppl from irc wrote:"i got a huge network of friends who in
jabber, we all use OTR and have not plans to migrate to omemo"

вт, 19 мая 2020 г., 21:41 potato livingstone <potatolivingstonei2p@gmail.com

[2020-05-19 14:43] wipedlifepotato commented on #427
unknown: OTR is reliable and proven over time
orignal: надо к OTR приделать эллигатор

вт, 19 мая 2020 г., 21:42 potato livingstone <potatolivingstonei2p@gmail.com

[2020-05-19 14:47] wipedlifepotato commented on #427
<unknown> что меня в омемо не прет - это мультидевайсность

[2020-05-19 14:49] JesusIsJehovah commented on #435
Opus is the newest version as far as I know.

[2020-05-19 14:57] wipedlifepotato commented on #427
I can lost any criptography on private servers of XMPP because there dont works OMEMO!

[2020-05-21 14:37] speachy opened #490 "spim prevention: allow blocking of users that have added you to their roster"
Currently, if you get a message from someone not on your roster, the actions you can take can vary:

If you are not on their roster, the prompt is whether or not you want to block them.

If you are on their roster, the prompt at the bottom is if you want to add them to your roster.  There appears to be no way to actually block that user.

Unsolicited messages should _always_ give you the option of

[2020-05-22 06:06] kriztan commented on #490
You can long click on the add contact button to block the user.

[2020-05-22 13:12] speachy commented on #490
I can confirm that works!  But.. as far as I can tell, it's undocumented, and completely undiscoverable..

[2020-05-23 18:42] raw-raw opened #491 "Connecting to a server with a self signed cert?"
Hello.
Whilst I have no problems to connect from Windows and Linux to my own xmpp server which has a self signed certificate, I cannot get Pixart to connect. I tried the setting which distrusts all CAs but I dont even get asked to review the certificate.
Pixart just keeps saying "connecting" but nothing happens. I'd at least expect an error message of some kind. I first thought I messed up the DNS

[2020-05-23 18:43] kriztan commented on #491
Please generate adb logs.

[2020-05-24 23:41] raw-raw commented on #491
Digging deeper it turned out **not** to be a certificate issue but a resolver issue. Tried clearing the cache but it didn't help. Please note that aTalk on the same device can in fact connect.
First

05-25 01:23:45.188  5633  5633 I Pix-Art_Messenger: AxolotlService : Generating axolotl registration ID...
05-25 01:23:45.189  5633  5633 W Pix-Art_Messenger: AxolotlService (pixart@mydomain.example):

[2020-05-25 05:38] kriztan commented on #491
@genofire can you say anything about this?

[2020-05-25 06:14] genofire commented on #491
@raw-raw it looks like ... he was not able to fetch the IP-Addresses from DNS and so was not able to connect.
[code]
appears multiple time.

Is now everthing fine?

[2020-05-25 22:25] Echolon commented on #490
@speachy would you mind to rename the issue about documentation?

[2020-05-25 22:29] Echolon commented on #488
@bennypr0fane I think this more or less is described here to #263

To push Chris to considering this one day I will leave this open :stuck_out_tongue:

[2020-05-25 22:32] Echolon commented on #427
A friendly suggestion and reminder: All users instining to continue using OTR, please organise youselves and consider creating a fork or someone maintaing the legacy code within a fork of Pix-Art Messenger.

[2020-05-25 22:34] Echolon commented on #451
I will close this, as it becomes a legacy feature in about a month.

[2020-05-25 22:34] #451 closed

[2020-05-25 22:36] Echolon commented on #489
duplicate of #430

[2020-05-25 22:36] #489 closed

[2020-05-25 22:38] Echolon commented on #465
Yes, I want to even more optimise that dialogues. However, doing that for every OEM is likely not feasible. But still I think there are points to improve in general.

[2020-05-26 03:04] raw-raw commented on #491
I'm out of ideas. I reinstalled the app but the issue persists.
In fact the issue seems to exist with all forks of conversations that I've tried.. But only on this device.

[2020-05-26 05:57] wipedlifepotato commented on #427
Why?

вт, 26 мая 2020 г., 5:32 Echolon <notifications@github.com>:

[2020-05-26 06:22] kriztan commented on #427
Don't cling to old things, free yourself, move forward with the times and use current encryption methods.  Servers can and must be kept up to date, otherwise you will only get a feeling of security.

[2020-05-26 06:24] wipedlifepotato commented on #427
Are u okey? Some servers even not allow omemo

вт, 26 мая 2020 г., 13:22 Christian Schneppe <notifications@github.com>:

[2020-05-26 06:24] kriztan commented on #491
Maybe this could be a ROM failure.

[2020-05-26 06:27] kriztan commented on #427
They have to be updated and yes, I'm okay 😉

[2020-05-26 06:37] wipedlifepotato commented on #427
So, do understand u that not all in life controllable? I cant say to server
"update" and then server is updated

вт, 26 мая 2020 г., 13:27 Christian Schneppe <notifications@github.com>:

[2020-05-26 06:43] kriztan commented on #427
The answer is simple: use another server. This is one advantage of xmpp. You can use any public server you want or serve this on your own. There are many tutorials and documents.

[2020-05-26 06:54] wipedlifepotato commented on #427
So, u dont understand yet? Okey. If u principally then... Jees otr is very
old... (2016) and omemo is very future (2017). Okey i see!!!

вт, 26 мая 2020 г., 13:44 Christian Schneppe <notifications@github.com>:

[2020-05-26 06:55] wipedlifepotato commented on #427
Use another clients then would better.

вт, 26 мая 2020 г., 13:53 Aleksander Abdulov <potatolivingstonei2p@gmail.com

[2020-05-26 10:34] kriztan commented on #427
@wipedlifepotato: It's another advantage of xmpp to choose any client you want. So feel free to use another one which is better for you :)
Little hint: my messenger uses OTR v3, which is a few days older (2005) https://otr.cypherpunks.ca/README-otrproxy-0.3.1.txt

Maybe you should think about your written words in a quiete minute. The provided messenger is nothing you have to pay for. You can use

[2020-05-26 10:36] wipedlifepotato commented on #427
Do what u want. I will do hard fork then with another ppl

вт, 26 мая 2020 г., 17:34 Christian Schneppe <notifications@github.com>:

[2020-05-26 19:54] raw-raw commented on #491
Since the OS is stock but Miui (Redmi Note 8 Pro) I think this is very plausible. All I can do is wait and hope that the internal dns cache expires after some period of time or I will need to factory reset.

Sorry for bugging you and thank you for trying to help he!

[2020-06-03 17:08] Quix0r commented on #188
I get "connectivity error" messages seen in ejabberd logfile

[code]

[2020-06-03 18:10] kriztan commented on #188
@Quix0r Please fill out the issue template and describe how to reproduce the error.

[2020-06-03 20:19] Quix0r commented on #188
Okay, better then close this ticket. :-)

[2020-06-03 20:32] Quix0r opened #493 "Connectivity errors during Audio/Video calls"
#### General information

* **Version:** 2.4.0
* **Device:** Samsung S2+ (yes, very old)
* **Android Version:**  Android 4 (stock)
* **Server name:** self-hosted ejabberd
* **Server software:** ejabberd 18.12.1-2~bpo9+1
* **Installed server modules:** See below
* **Conversations source:** F-Droid

#### Steps to reproduce

1. Initiate call to a known (rooster included) contact, having 2.4.0 install

[2020-06-05 12:11] Echolon commented on #427
@kriztan please don't forget to post reminders on this on the 15th again I suggest.

Here is also an unrelated list of clients were people can check if there are any other clients still supporting OTR: www.omemo.top

[2020-06-07 08:28] kriztan commented on #478
improved via 383ae253cb4d09130e9bd7190946a0b405f85f92

[2020-06-07 08:28] #478 closed

[2020-06-07 08:31] kriztan commented on #432
implemented via fa5453ce8d9059329f838c3d9568bd8b50c5e17f

[2020-06-07 08:31] #432 closed

[2020-06-09 10:39] genofire opened #495 "hide conversations if account is disabled"
in the conversations list, the conversation should be hide or grey out if the account is disabled

[2020-06-15 20:08] oathzed opened #497 "Search doesn't pop up keyboard"
#### General information

* **Version:** 2.4.1-playstore
* **Device:** Pixel 2
* **Android Version:**  Android 10 (stock)
* **Server name:** dismail.de
* **Server software:** unknown
* **Installed server modules:** unknown
* **Conversations source:** PlayStore Beta Channel

#### Steps to reproduce

1. Select search icon

https://imgur.com/a/I5wlleH

#### Expected result

What is the expected outpu

[2020-06-15 20:10] oathzed opened #498 "[Request] Add the option to search inside individual conversations like you can do on the conversation homepage"
#### General information

* **Version:** 2.4.1-playstore
* **Device:** Pixel 2
* **Android Version:**  Android 10 (stock)
* **Server name:** dismail.de
* **Server software:** unknown
* **Installed server modules:** unknown
* **Conversations source:** PlayStore Beta Channel

#### Steps to reproduce

1. Inside a conversation select the search icon on the top right to search inside that conversation

[2020-06-19 20:30] Echolon commented on #498
I think this is a duplicate with reference to

**Search: Directly jump to searched message in the chat** #255

and in general:

**Several design suggestions / UI / ideas** #121

[2020-06-19 20:30] #498 closed

[2020-06-19 20:32] Echolon commented on #497
Do you have a screenshot of this?

[2020-06-19 20:38] oathzed commented on #497
@Echolon an image wouldn't be able to show what's happening. Here's a video: https://imgur.com/a/I5wlleH

Notice how the keyboard doesn't pop up after I press the magnifying glass icon. Sometimes the keyboard will pop up after pressing the magnifying glass though, I just didn't record it cause it happens like %10 of the time. Thus a bug.

[2020-06-21 00:54] gspeiliu opened #499 "Debug Version Build"
I cloned the project and tried to build the debug version via command './gradlew --no-daemon assembleDebug'. However, I cannot build the project successfully, it always pops out the error message as follow:
Pix-Art-Messenger/src/main/java/eu/siacs/conversations/services/AppRTCAudioManager.java:27: error: package org.webrtc does not exist
import org.webrtc.ThreadUtils;
Pix-Art-Messenger/src/main/ja

[2020-06-21 05:54] kriztan commented on #499
You have to build webrtc library first.

[2020-06-21 05:54] #499 closed

[2020-06-21 14:16] Echolon commented on #476
@bennypr0fane Any news on this?

[2020-06-21 20:06] bennypr0fane commented on #476
@Echolon, yes, sorry I forgot to post back!
Indeed, notifications were actually diasbled for this app in OS settings, @kriztan was correct!

[2020-06-21 20:06] #476 closed

[2020-06-25 15:12] github-tomster commented on #417
here i am again: just out of the blue i updated to pam 2.4.1 today. and i tried to send some files to contacts. so far it is picky. if i send a file it says starting and stays there. if i try another file it takes some seconds an then sends. also slower though.
damn silly me! now i have to dig out 2.2.7 again ...

[2020-06-25 17:37] Echolon commented on #427
All subscribers be reminded of the the upcoming removal of OTR. We are sorry to do this step. Please review the mentioned alternatives.

[2020-07-05 11:24] kriztan commented on #493
Should be fixed with 2.5.0

[2020-07-05 11:24] #493 closed

[2020-07-05 11:25] kriztan commented on #466
No reaction from @Fisi1234

[2020-07-05 11:25] #466 closed

[2020-07-05 11:26] kriztan commented on #427
OTR has been removed with version 2.5.0

[2020-07-05 11:26] #427 closed

[2020-07-10 04:40] #497 closed

[2020-07-10 04:40] oathzed commented on #497
Fixed

[2020-07-10 13:20] licaon-kter commented on #220
Any news?

[2020-07-16 17:49] kriztan commented on #220
Since the updater is configurable we can close it.

[2020-07-16 17:49] #220 closed

[2020-07-17 04:29] NeuerUser opened #501 "crash because of missing project ID"
#### General information

* **Version:** 2.5.1 (play store)
* **Device:** Xiaomi Mi 9
* **Android Version:**  Android 10(stock)
* **Server name:** conversations.im, jabber.de or self hosted
* **Server software:** ejabberd 19.09.1 or prosody 0.11.3 (if known)
* **Installed server modules:** Stream Managment, CSI, MAM
* **Pix-Art Messenger source:** PlayStore, PlayStore Beta Channel, F-Droid, Github

[2020-07-17 05:23] kriztan commented on #501
I need steps to reproduce

[2020-07-17 05:38] NeuerUser commented on #501
Well, that's difficult, as there is nothing that I can do. I have been using pix-art for more than a year now without any issues. This morning the app was updated via play store to 2.5.1, which immediately lead to the error (happening even in the background). When I try to open the app, I get this error immediately. No steps to do.

I hoped the error message would be clear enough to identify the i

[2020-07-17 05:52] kriztan commented on #501
Please wait... it seems to be an updated library from google. I'm going to publish an update today in the evening.

[2020-07-17 06:11] FoxKyong commented on #501
I can confirm exactly the same problem after the update. I start Pix-art, it starts connecting to a server and then it crashes. Here is my crash log which Pix-art wants to send but can't because of crashes. Here is my crash log:

Device: asus ASUS_Z01RD
Android SDK: 29 (10)
Version: 2.5.1-playstore
Version: 2.5.1-playstore(305)
Last Update: 2020-07-17

java.lang.RuntimeException: Unable to start s

[2020-07-17 06:26] kriztan commented on #501
Thanks. I can confirm that there were changes in the firebase library. You can try installing the github version 2.5.1 which works without firebase (push messages) and update to 2.5.2 via playstore if it will be released. Both versions (github and playstore) are compatible to each other, but for automatically playstore updates you must once update from github version to playstore version manually.

[2020-07-17 06:33] kriztan opened #502 "PlayStore Version 2.5.1 is crashing"
### Notice

If you have problems with the last update to version 2.5.1 from PlayStore try installing the following git version:
[https://github.com/kriztan/Pix-Art-Messenger/releases/download/2.5.1/PixArtMessenger-2.5.1-git-release.apk](https://github.com/kriztan/Pix-Art-Messenger/releases/download/2.5.1/PixArtMessenger-2.5.1-git-release.apk)

#### Don't uninstall the crashing version, just dirty

[2020-07-17 06:36] kriztan commented on #501
Further information can be found here https://github.com/kriztan/Pix-Art-Messenger/issues/502

[2020-07-17 07:04] NeuerUser commented on #501
Thanks a lot for the fast reaction and fix. Very much appreciated!

A small question that suppose doing my tries to install an older version: MIUI had a backup and restore function. However, it cannot backup or restore pix-art messenger (as well as many other apps). I think this is a flag set by the developer that determines whether the Android backup system (which MIUI is also using) is allowed t

[2020-07-17 07:07] kriztan commented on #501
It's true, since the messenger uses it's own backup/restore the global feature is disabled.

[2020-07-17 07:35] NeuerUser commented on #501
Ah, I see. However, wouldn't it be possible to give the user the choice to decide on what backup/restore system he prefers to use?
For me personally, I prefer to automatically backup all (supported) apps at once, instead of going into each app individually and backup their data. I see that other users may think differently and prefer the manual in-built backup mechanism. But I would appreciate, if

[2020-07-17 07:52] kriztan opened #503 "Backup/Restore"
A small question that surfaced during my tries to install an older version: MIUI has a backup and restore function. However, it cannot backup or restore pix-art messenger (as well as many other apps). I think this is a flag set by the developer that determines whether the Android backup system (which MIUI is also using) is allowed to backup an app and its data or not.

Is it true that this flag is

[2020-07-17 08:01] kriztan commented on #503
The global backup/restore feature may store sensible user data on foreign servers, e.g. Google or Samsung, and maybe others.
The backed up data contains de-/encryption keys, account passwords, messages,... which should not published anywhere. It's like storing your credit card pin with IBAN/BIC together in your neighbors home.
That's the reason why I've chosen to disable the global backup/restore

[2020-07-17 08:42] NeuerUser commented on #503
It is not generally true that the android backup system uploads information to a cloud. The android backup system generates bak files (which can even be encrypted with a password). They can then either be transferred as files via adb or any other method to any connected PC or, if the user really wants, indeed, also be stored on a cloud.

While in the android settings menu the google backup indeed

[2020-07-17 08:49] kriztan commented on #503
I'm looking forward, if I can make some security settings to the global feature, and if so, I'll make it available again. If not, I'll try to make it user configurable with default off.

[2020-07-17 08:51] NeuerUser commented on #503
Sounds like a very good solution. Thanks a lot. Much appreciated!

[2020-07-17 14:14] kriztan commented on #501
fixed via 700b7d14ccffe3a3fe9fecfa08feafd5efeb4016

[2020-07-17 14:14] #501 closed

[2020-07-17 14:15] kriztan commented on #502
Fixed via version 2.5.2 which will be available on PlayStore within the next hours.

[2020-07-17 14:15] #502 closed

[2020-07-19 20:11] github-tomster commented on #417
today another member of the server did an upgrade by mistake.
no files can be recieved anymore by the member.
fortunately the cause was a quick find.
@kriztan
any chance to fix this bug?

[2020-07-20 03:50] kriztan commented on #417
I need logfiles.

[2020-07-20 18:26] Avispa commented on #269
@genofire commented on 16 Nov 2018

At the risk of being controversial but wouldn't it be more logical to fix it in *Conversations*? I know, for a "real" dev, mentally it's a pain since it's not your/ours/this project but wouldn't it be a win-win? It would even supporting the real idea of open source and forks. ;-)

_Originally posted by @kriztan in https://github.com/kriztan/Pix-Art-Messenger/iss

[2020-07-20 19:13] Avispa commented on #257
**BaumGuard** commented on [22 Oct 2018:](https://github.com/kriztan/Pix-Art-Messenger/issues/257#issuecomment-431967698)

I can confirm this supposedly as a regression bug for *Pix-Art v2.4.1* (*F-Droid* version). I cross checked for *Conversations v2.8.8+fcr* (even though on a different device) and it's not an issue there.

To clarify the issue:

### How to reproduce:
1.  Add an offline or even

[2020-07-20 19:45] kriztan commented on #257
@Avispa you are concerning an older version. Please update to the latest one and test if the bug persists. Fdroid didn't publish the last version yet, so be pationed. I'll reopen the issue if it's not fixed in version 2.5.2.

[2020-07-22 09:51] Echolon commented on #503
Once clicked active there should be a warning aswell

[2020-07-23 20:53] github-tomster commented on #417
i will get back on that tomorrow.

[2020-07-26 21:07] github-tomster commented on #417
@kriztan
i prepared two devices.
updated to latest 2.5.2 pam.
and it is working on five of five tests.
and also it is as fast as never before!
i will contact the users the next days, advise them to update to 2.5.2 and report back.

[2020-07-27 06:12] kriztan commented on #417
Thanks for reporting back @github-tomster

[2020-07-29 08:19] kriztan commented on #503
It affects not only MIUI based Android versions, but also all others with online/offline backup.
As I've seen it in the Android docs, it's not possible to make this configurable. So I can't suggest to make it globally avaible.

[2020-08-03 17:04] ProjectMoon opened #505 "Pix-Art does not respect account creation server via QR code"
#### General information

* **Version:** 2.5.2
* **Device:** Sony Xperia 10 Plus
* **Android Version:**  Android 8.1
* **Server name:** self hosted
* **Server software:** prosody 0.11.5
* **Installed server modules:** https://compliance.conversations.im/server/agnos.is/, specifically relates to mod_easy_invites
* **Pix-Art Messenger source:** F-Droid

#### Steps to reproduce

1. Use ad-hoc command

[2020-08-03 23:42] ildar commented on #311
Some leftovers (maybe): https://github.com/kriztan/Pix-Art-Messenger/blob/master/src/main/java/eu/siacs/conversations/ui/adapter/MessageAdapter.java#L807

[2020-08-05 06:45] ildar commented on #311
I'm sorry, am I getting it right? Previews work only for images sent as
XEP-s. But URL preview only shows page's <TITLE/> ?
Or URLs have some advanced preview also?

[2020-08-05 09:54] kriztan commented on #311
You are right @ildar inline images (files) must follow the XEP. The url preview is an other function, this shows a title, description and image if available.

[2020-08-05 10:48] ildar commented on #311
Ah! well. I couldn't find any image URL that would be shown. E.g. just sent
this text:

but it didn't show up as image. Would you please check?
Also, must show image category is Hangouts stickers, e.g.

https://lh3.googleusercontent.com/-mzo4vMsngdw/VIDgjqRNQxI/AAAAAAAABfs/krYrvzbmalQ3Umw42HdeUxPgIoH3E2wWgCK8BGAYYCw/s0/FatCat_Impatient.png

[2020-08-05 11:08] kriztan commented on #311
It's not intended to display an image URL as an inline-image. Further information about the link preview can be found here: https://ogp.me/

[2020-08-05 11:46] ildar opened #506 "[FR] URL preview: show image inline"
as URLs are fetched anyway (at least HEAD part) then it's probably easy to detect if the URL points to an image (content-type: image/* in HTTP header).
Could you please replace this URL message with image preview button so a user easily see the image right in place?

[2020-08-05 12:07] kriztan commented on #506
As I've mentioned in https://github.com/kriztan/Pix-Art-Messenger/issues/311 it's not intended to display an image URL as an inline-image. Inline image-priview is handled in [XEP-0066](https://xmpp.org/extensions/xep-0066.html)

[2020-08-05 12:07] #506 closed

[2020-08-06 13:32] ildar commented on #506
so: to see an image, one has to build up an "OPG" page. But directly
pointed images are ignored. This doesn't look smart (please no offence!)
I understand that "it's not intended". That's why "FR" (feature request) in
the topic.
Would you please re-triage?

[2020-08-06 13:55] kriztan commented on #506
Have a look at https://github.com/iNPUTmice/Conversations/issues/2462#issuecomment-296971272. I'm fine with the decision of @iNPUTmice to not download files from plain text urls for security reasons.

[2020-08-06 14:49] ildar commented on #506
not to download like here?
https://github.com/kriztan/Pix-Art-Messenger/blob/f8e6ead13fb4598153c2073acccbf4128a3b6963/src/main/java/eu/siacs/conversations/ui/widget/RichLinkView.java#L95

[2020-08-11 09:59] kriztan commented on #506
It's not downloaded to a file as it's handled in XEP-0066

[2020-09-02 19:46] meaz commented on #505
I met the same issue with a direct link, not a qr-code: I created a invitation page, with a button linking to the invitation link I've created with prosodyctl mod_easy_invite myserver.com generate as explained [here](https://modules.prosody.im/mod_easy_invite.html).

If I click on the button from an Android with Conversations, Conversations opens and I can directly create an account on my server.

[2020-09-22 07:56] coldtobi opened #509 "[Feature Rquest] Add possiblity to manage server blocklist."
Hi,
for AntiSPAM measures I'm running prosody with mod_adhock_blacklist [1].

It would be nice if I could block entire domains using Pix-Art, not only per-user blocking
(Spam is originating from servers with to liberal in-band-registration)

Thanks for providing Pix-Art!

tobi

[1] https://modules.prosody.im/mod_adhoc_blacklist.html
"This module provides the Edit Blacklist ad-hoc command described

[2020-10-03 22:22] github-tomster commented on #417
well ...
short version:
we downgraded ALL devices back to 1.21.0!
(aehm yes, conversations)

long version:
after weeks of complains, when all devices where on 2.5.2
we had to realize that it was only working **reliable** on WiFi.
on mobile it did nothing but staying on sending data, zero progress.

i do not know what was done to the code, though i can confirm: the old code works reliable!
tested o

[2020-10-17 08:49] #505 closed

[2020-11-12 16:52] #269 closed

[2020-11-21 03:26] underhandedness opened #513 "[feature request] self destructing messages sync"
(1)
Will Pix-Art Messenger retain this name branding on F-Droid? or will it become Blabber?

(2)
Is there an XEP for self destructing messages? that can be invoked by either 1:1 conversation person?  This is different from the privacy setting to not retain local messages beyond a certain time.  Must play nicely with omemo.

(3)
thank you for the grand fork!

#### General information

* **Version:*

[2020-11-21 03:27] underhandedness commented on #509
XEP-0016, Privacy Lists

[2020-11-21 03:35] underhandedness commented on #465
Do not integrate into on boarding.  Impart this wisdom after the first message is sent.

[2020-11-21 03:39] underhandedness commented on #513
read notice.  cannot edit or delete.

will try close button now

[2020-11-21 03:39] #513 closed

[2020-11-21 03:41] underhandedness commented on #491
try

enable Private DNS.  Setup free NextDNS.io account to view your logs

_Now mobile adblocking is within reach of everyone_

[2020-11-21 04:09] underhandedness commented on #503
global backup should only be enabled with enforced locally encrypted content prior to upload